USE [master]
GO
/****** Object:  Database [Uni]    Script Date: 25/4/2025 12:11:03 ******/
CREATE DATABASE [Uni]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Uni', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Uni.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Uni_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Uni_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Uni].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Uni]
GO
/****** Object:  User [alumno]    Script Date: 25/4/2025 12:11:03 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Carreras]    Script Date: 25/4/2025 12:11:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carreras](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Foto] [varchar](255) NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Duracion] [int] NULL,
	[Descripcion] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarrerasXUniversidad]    Script Date: 25/4/2025 12:11:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarrerasXUniversidad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idCarrera] [int] NOT NULL,
	[idUniversidad] [int] NOT NULL,
	[Costo] [decimal](10, 2) NULL,
	[Duracion] [int] NULL,
	[Descripcion] [text] NOT NULL,
	[Orientacion] [text] NOT NULL,
	[InfoAdicional] [text] NOT NULL,
 CONSTRAINT [PK_CarrerasXUniversidad] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estudiantes]    Script Date: 25/4/2025 12:11:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estudiantes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[FechaNac] [date] NULL,
	[Dni] [varchar](20) NULL,
	[Mail] [varchar](100) NULL,
	[Carrera] [int] NULL,
	[Foto] [varchar](255) NULL,
	[IdUsuario] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Preguntas]    Script Date: 25/4/2025 12:11:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Preguntas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCarrera] [int] NULL,
	[Descripcion] [text] NOT NULL,
	[Marcada] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Universidades]    Script Date: 25/4/2025 12:11:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Universidades](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Tipo] [varchar](50) NULL,
	[Ubicacion] [varchar](100) NULL,
	[Foto] [varchar](255) NULL,
	[Descripcion] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 25/4/2025 12:11:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tipo] [varchar](50) NOT NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[Mail] [varchar](100) NULL,
	[Contraseña] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Carreras] ON 

INSERT [dbo].[Carreras] ([Id], [Foto], [Nombre], [Duracion], [Descripcion]) VALUES (1, N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuVz6xnGr3VT8tqc-lBdBqk5FNFGNh67yUaw&s', N'Ingenieria de Sistemas', 5, N'Carrera que forma profesionales capacitados para diseñar, implementar y mantener sistemas informáticos de diversos tipos.')
INSERT [dbo].[Carreras] ([Id], [Foto], [Nombre], [Duracion], [Descripcion]) VALUES (2, N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdKsjEhoGsaYVEHOxBMmYqEh3uzCgIDK8SYA&s', N'Ciencias de la Computacion', 5, N'Estudia los fundamentos teóricos de la computación y cómo aplicarlos para resolver problemas prácticos.')
INSERT [dbo].[Carreras] ([Id], [Foto], [Nombre], [Duracion], [Descripcion]) VALUES (3, N'https://universidadesdemexico.mx/img/article/que-es-mejor-gestion-empresarial-o-administracion-de-empresas', N'Administracion de Empresas', 4, N'Carrera que prepara a los estudiantes para gestionar y dirigir organizaciones de todo tipo, desde empresas hasta instituciones públicas.')
SET IDENTITY_INSERT [dbo].[Carreras] OFF
GO
SET IDENTITY_INSERT [dbo].[CarrerasXUniversidad] ON 

SET IDENTITY_INSERT [dbo].[CarrerasXUniversidad] OFF
GO
SET IDENTITY_INSERT [dbo].[Estudiantes] ON 

INSERT [dbo].[Estudiantes] ([Id], [Nombre], [Apellido], [FechaNac], [Dni], [Mail], [Carrera], [Foto], [IdUsuario]) VALUES (1, N'John', N'Doe', CAST(N'2000-05-15' AS Date), N'12345678', N'johndoe@example.com', 1, NULL, 2)
INSERT [dbo].[Estudiantes] ([Id], [Nombre], [Apellido], [FechaNac], [Dni], [Mail], [Carrera], [Foto], [IdUsuario]) VALUES (2, N'ciro', N'bendov', CAST(N'2007-12-31' AS Date), NULL, NULL, 3, NULL, 5)
SET IDENTITY_INSERT [dbo].[Estudiantes] OFF
GO
SET IDENTITY_INSERT [dbo].[Preguntas] ON 

INSERT [dbo].[Preguntas] ([Id], [IdCarrera], [Descripcion], [Marcada]) VALUES (1, 1, N'Te interesa resolver problemas de tecnología?', 0)
INSERT [dbo].[Preguntas] ([Id], [IdCarrera], [Descripcion], [Marcada]) VALUES (2, 1, N'Te gustan las matemáticas y la lógica?', 0)
INSERT [dbo].[Preguntas] ([Id], [IdCarrera], [Descripcion], [Marcada]) VALUES (3, 1, N'Te ves trabajando en el sector de software?', 0)
SET IDENTITY_INSERT [dbo].[Preguntas] OFF
GO
SET IDENTITY_INSERT [dbo].[Universidades] ON 

SET IDENTITY_INSERT [dbo].[Universidades] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [Tipo], [NombreUsuario], [Mail], [Contraseña]) VALUES (1, N'admin', N'adminUser', N'admin@example.com', N'adminPass')
INSERT [dbo].[Usuarios] ([Id], [Tipo], [NombreUsuario], [Mail], [Contraseña]) VALUES (2, N'estudiante', N'johndoe', N'johndoe@example.com', N'password123')
INSERT [dbo].[Usuarios] ([Id], [Tipo], [NombreUsuario], [Mail], [Contraseña]) VALUES (3, N'profesor', N'profCarlos', N'carlos@example.com', N'profpass1')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
ALTER TABLE [dbo].[CarrerasXUniversidad]  WITH CHECK ADD  CONSTRAINT [FK_CarrerasXUniversidad_Carreras] FOREIGN KEY([idCarrera])
REFERENCES [dbo].[Carreras] ([Id])
GO
ALTER TABLE [dbo].[CarrerasXUniversidad] CHECK CONSTRAINT [FK_CarrerasXUniversidad_Carreras]
GO
ALTER TABLE [dbo].[CarrerasXUniversidad]  WITH CHECK ADD  CONSTRAINT [FK_CarrerasXUniversidad_Universidades] FOREIGN KEY([idUniversidad])
REFERENCES [dbo].[Universidades] ([Id])
GO
ALTER TABLE [dbo].[CarrerasXUniversidad] CHECK CONSTRAINT [FK_CarrerasXUniversidad_Universidades]
GO
ALTER TABLE [dbo].[Estudiantes]  WITH CHECK ADD  CONSTRAINT [FK_Estudiantes_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Estudiantes] CHECK CONSTRAINT [FK_Estudiantes_Usuarios]
GO
ALTER TABLE [dbo].[Preguntas]  WITH CHECK ADD  CONSTRAINT [FK_Preguntas_Carreras] FOREIGN KEY([IdCarrera])
REFERENCES [dbo].[Carreras] ([Id])
GO
ALTER TABLE [dbo].[Preguntas] CHECK CONSTRAINT [FK_Preguntas_Carreras]
GO
USE [master]
GO