USE [master]
GO
/****** Object:  Database [Uni]    Script Date: 8/11/2024 15:19:56 ******/
CREATE DATABASE [Uni]
 CONTAINMENT = NONE

ALTER DATABASE [Uni] SET COMPATIBILITY_LEVEL = 140
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Uni].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Uni]
GO
/****** Object:  User [alumno]    Script Date: 8/11/2024 15:19:56 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Becas]    Script Date: 8/11/2024 15:19:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Becas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUniversidad] [int] NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Foto] [varchar](255) NULL,
	[Descripcion] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carreras]    Script Date: 8/11/2024 15:19:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carreras](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUniversidad] [int] NULL,
	[Costo] [decimal](10, 2) NULL,
	[Duracion] [int] NULL,
	[Foto] [varchar](255) NULL,
	[Nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Condiciones]    Script Date: 8/11/2024 15:19:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Condiciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUniversidad] [int] NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Foto] [varchar](255) NULL,
	[Descripcion] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estudiantes]    Script Date: 8/11/2024 15:19:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estudiantes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[FechaNac] [date] NULL,
	[Dni] [varchar](20) NULL,
	[Mail] [varchar](100) NULL,
	[Carrera] [int] NULL,
	[Foto] [varchar](255) NULL,
	[IdUsuario] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Preguntas]    Script Date: 8/11/2024 15:19:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Preguntas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCarrera] [int] NULL,
	[Descripcion] [text] NOT NULL,
	[Marcada] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profesores]    Script Date: 8/11/2024 15:19:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profesores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[Edad] [int] NULL,
	[Dni] [varchar](20) NULL,
	[Bio] [text] NULL,
	[IdUniversidad] [int] NULL,
	[IdUsuario] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Universidades]    Script Date: 8/11/2024 15:19:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Universidades](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Tipo] [varchar](50) NULL,
	[Ubicacion] [varchar](100) NULL,
	[Foto] [varchar](255) NULL,
	[Descripcion] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 8/11/2024 15:19:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tipo] [varchar](50) NOT NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[Mail] [varchar](100) NULL,
	[Contraseña] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Becas] ON 

INSERT [dbo].[Becas] ([Id], [IdUniversidad], [Nombre], [Foto], [Descripcion]) VALUES (1, 1, N'Beca Excelencia', NULL, N'Beca para los estudiantes con mejor rendimiento academico')
INSERT [dbo].[Becas] ([Id], [IdUniversidad], [Nombre], [Foto], [Descripcion]) VALUES (2, 2, N'Beca Inclusion', NULL, N'Beca para estudiantes de bajos recursos')
INSERT [dbo].[Becas] ([Id], [IdUniversidad], [Nombre], [Foto], [Descripcion]) VALUES (3, 3, N'Beca Andina', NULL, N'Beca especial para estudiantes de la region andina')
SET IDENTITY_INSERT [dbo].[Becas] OFF
GO
SET IDENTITY_INSERT [dbo].[Carreras] ON 

INSERT [dbo].[Carreras] ([Id], [IdUniversidad], [Costo], [Duracion], [Foto], [Nombre]) VALUES (1, 1, CAST(5000.00 AS Decimal(10, 2)), 5, N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuVz6xnGr3VT8tqc-lBdBqk5FNFGNh67yUaw&s', N'Ingenieria de Sistemas')
INSERT [dbo].[Carreras] ([Id], [IdUniversidad], [Costo], [Duracion], [Foto], [Nombre]) VALUES (2, 1, CAST(4500.00 AS Decimal(10, 2)), 5, N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdKsjEhoGsaYVEHOxBMmYqEh3uzCgIDK8SYA&s', N'Ciencias de la Computacion')
INSERT [dbo].[Carreras] ([Id], [IdUniversidad], [Costo], [Duracion], [Foto], [Nombre]) VALUES (3, 2, CAST(8000.00 AS Decimal(10, 2)), 4, N'https://universidadesdemexico.mx/img/article/que-es-mejor-gestion-empresarial-o-administracion-de-empresas', N'Administracion de Empresas')
SET IDENTITY_INSERT [dbo].[Carreras] OFF
GO
SET IDENTITY_INSERT [dbo].[Condiciones] ON 

INSERT [dbo].[Condiciones] ([Id], [IdUniversidad], [Nombre], [Foto], [Descripcion]) VALUES (1, 1, N'Condicion Especial', NULL, N'Requisitos adicionales para los estudiantes')
INSERT [dbo].[Condiciones] ([Id], [IdUniversidad], [Nombre], [Foto], [Descripcion]) VALUES (2, 2, N'Condicion Deportiva', NULL, N'Requisitos para estudiantes deportistas')
INSERT [dbo].[Condiciones] ([Id], [IdUniversidad], [Nombre], [Foto], [Descripcion]) VALUES (3, 3, N'Condicion Socioeconomica', NULL, N'Condiciones para estudiantes con dificultades economicas')
SET IDENTITY_INSERT [dbo].[Condiciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Estudiantes] ON 

INSERT [dbo].[Estudiantes] ([Id], [Nombre], [Apellido], [FechaNac], [Dni], [Mail], [Carrera], [Foto], [IdUsuario]) VALUES (1, N'John', N'Doe', CAST(N'2000-05-15' AS Date), N'12345678', N'johndoe@example.com', 1, NULL, 2)
INSERT [dbo].[Estudiantes] ([Id], [Nombre], [Apellido], [FechaNac], [Dni], [Mail], [Carrera], [Foto], [IdUsuario]) VALUES (2, N'Jane', N'Smith', CAST(N'1999-08-21' AS Date), N'87654321', N'janesmith@example.com', 2, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Estudiantes] OFF
GO
SET IDENTITY_INSERT [dbo].[Preguntas] ON 

INSERT [dbo].[Preguntas] ([Id], [IdCarrera], [Descripcion], [Marcada]) VALUES (1, 1, N'Te interesa resolver problemas de tecnología?', 0)
INSERT [dbo].[Preguntas] ([Id], [IdCarrera], [Descripcion], [Marcada]) VALUES (2, 1, N'Te gustan las matemáticas y la lógica?', 0)
INSERT [dbo].[Preguntas] ([Id], [IdCarrera], [Descripcion], [Marcada]) VALUES (3, 1, N'Te ves trabajando en el sector de software?', 0)
SET IDENTITY_INSERT [dbo].[Preguntas] OFF
GO
SET IDENTITY_INSERT [dbo].[Profesores] ON 

INSERT [dbo].[Profesores] ([Id], [Nombre], [Apellido], [Edad], [Dni], [Bio], [IdUniversidad], [IdUsuario]) VALUES (1, N'Carlos', N'Ramirez', 45, N'23456789', N'Doctor en Ingenieria de Sistemas', 1, 3)
INSERT [dbo].[Profesores] ([Id], [Nombre], [Apellido], [Edad], [Dni], [Bio], [IdUniversidad], [IdUsuario]) VALUES (2, N'Ana', N'Gomez', 40, N'98765432', N'Experta en Administracion de Empresas', 2, 4)
SET IDENTITY_INSERT [dbo].[Profesores] OFF
GO
SET IDENTITY_INSERT [dbo].[Universidades] ON 


SET IDENTITY_INSERT [dbo].[Universidades] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [Tipo], [NombreUsuario], [Mail], [Contraseña]) VALUES (1, N'admin', N'adminUser', N'admin@example.com', N'adminPass')
INSERT [dbo].[Usuarios] ([Id], [Tipo], [NombreUsuario], [Mail], [Contraseña]) VALUES (2, N'estudiante', N'johndoe', N'johndoe@example.com', N'password123')
INSERT [dbo].[Usuarios] ([Id], [Tipo], [NombreUsuario], [Mail], [Contraseña]) VALUES (3, N'profesor', N'profCarlos', N'carlos@example.com', N'profpass1')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Estudian__2724B2D1F23F6EC7]    Script Date: 8/11/2024 15:19:57 ******/
ALTER TABLE [dbo].[Estudiantes] ADD UNIQUE NONCLUSTERED 
(
	[Mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Estudian__C0308575E4F5CDEE]    Script Date: 8/11/2024 15:19:57 ******/
ALTER TABLE [dbo].[Estudiantes] ADD UNIQUE NONCLUSTERED 
(
	[Dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Profesor__C0308575ED67040D]    Script Date: 8/11/2024 15:19:57 ******/
ALTER TABLE [dbo].[Profesores] ADD UNIQUE NONCLUSTERED 
(
	[Dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__2724B2D1D8D72270]    Script Date: 8/11/2024 15:19:57 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[Mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__6B0F5AE0507C1857]    Script Date: 8/11/2024 15:19:57 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Preguntas] ADD  DEFAULT ((0)) FOR [Marcada]
GO
ALTER TABLE [dbo].[Becas]  WITH CHECK ADD FOREIGN KEY([IdUniversidad])
REFERENCES [dbo].[Universidades] ([Id])
GO
ALTER TABLE [dbo].[Carreras]  WITH CHECK ADD FOREIGN KEY([IdUniversidad])
REFERENCES [dbo].[Universidades] ([Id])
GO
ALTER TABLE [dbo].[Condiciones]  WITH CHECK ADD FOREIGN KEY([IdUniversidad])
REFERENCES [dbo].[Universidades] ([Id])
GO
ALTER TABLE [dbo].[Estudiantes]  WITH CHECK ADD FOREIGN KEY([Carrera])
REFERENCES [dbo].[Carreras] ([Id])
GO
ALTER TABLE [dbo].[Estudiantes]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Preguntas]  WITH CHECK ADD FOREIGN KEY([IdCarrera])
REFERENCES [dbo].[Carreras] ([Id])
GO
ALTER TABLE [dbo].[Profesores]  WITH CHECK ADD FOREIGN KEY([IdUniversidad])
REFERENCES [dbo].[Universidades] ([Id])
GO
ALTER TABLE [dbo].[Profesores]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([Id])
GO
USE [master]
GO






