@{
    ViewData["Title"] = "Index";
}
<section class="index">
    <div class="buscador-index"> 
        <h1>Uni.</h1>
                    <form asp-action="Busqueda" method="post" class="search-box">
                        <input type="text" name="dato" placeholder="Buscar..."  autocomplete="off"/>
                        <button type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path d="M10 2a8 8 0 1 0 5.33 14.73l5.65 5.64 1.41-1.41-5.64-5.65A8 8 0 0 0 10 2zm0 2a6 6 0 1 1 0 12 6 6 0 0 1 0-12z"/>
                            </svg>
                        </button>
                    </form>
    </div>

    <section class="universidades-index">
        <h3>Encontrá toda la información de las universidades que buscás</h3>
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
    
                <div class="carousel-item active">
                    <img src="../img/UCA.jpg" class="foto-facultades" alt="...">
                    <img src="../img/ditella.jfif" class="foto-facultades" alt="...">
                    <img src="../img/UBA.jpg" class="foto-facultades" alt="...">
                </div>

                <div class="carousel-item">
                    <img src="../img/ITBA.jpg" class="foto-facultades" alt="...">
                    <img src="../img/UP.jpg" class="foto-facultades" alt="...">
                    <img src="../img/UTN.jpg" class="foto-facultades" alt="...">
                </div>
            </div>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="false"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <section class="contenedor-comparacion">
        <section class="comparar">
            <img src="../img/comparar1.png" class="" alt="...">
            <div class="texto-comparar">
                <h1>Uni.</h1>
                <h3>Compará toda la información de las carreras o universidades que buscás</h3>
            </div>
        </section>
    </section>

    <section class="parte-test">
        <div>
            <h1>TEST VOCACIONAL</h1>
            <h5>Descubrí tus gustos e intereses aquí</h5>
            <a href='@Url.Action("Test", "Home")'><button class="button">Comenzar</button></a>

                        
        </div>
    </section>



</section>