<section class="login-container">
     <div class="login-box">
            <h1>Uni</h1>
            <h2>Iniciar sesión</h2>
            <form>
                <label for="email">Teléfono o correo electrónico</label>
                <input type="text" id="email" name="email" placeholder="example@uni.com">

                <label for="password">Contraseña</label>
                <input type="password" id="password" name="password" placeholder="********">

                <button class="google-btn">
                    <img src="https://img.icons8.com/?size=512&id=17949&format=png" alt="Google Icon" class="icon"> Continuar con Google
                </button>
                
                <button class="facebook-btn">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/c/cd/Facebook_logo_%28square%29.png" alt="Facebook Icon" class="icon"> Continuar con Facebook
                </button>

                <div class="button-group">
                    <button type="button" class="register-btn">Registrarse</button>
                    <button type="submit" class="continue-btn">Continuar</button>
                </div>
            </form>

            <div class="ayuda">
                <h6> ¿Olvidaste tu contraseña? </h6>
            </div>

        </div>





</section>