@model Estudiantes

<section class="register-container">
    <div class="register-box">        
        <form asp-action="RegistroEstudiante" method="post" class="formulario-registro">
            <img src="../img/logo_uni_nav2.png" alt="">
            <h2>Datos personales</h2>
            <div class="form-group">
                <label for="Nombre">Nombre</label>
                <input type="text" id="Nombre" name="Nombre" class="form-control" required autocomplete="off" />
            </div>

            <div class="form-group">
                <label for="Apellido">Apellido</label>
                <input type="text" id="Apellido" name="Apellido" class="form-control" required autocomplete="off"/>
            </div>

            <div class="form-group">
                <label for="FechaNac">Fecha de Nacimiento</label>
                <input type="date" id="FechaNac" name="FechaNac" class="form-control" />
            </div>

            <div class="form-group">
                <label for="Carrera">Carrera</label>
                <select class="form-select" name="Carrera" aria-label="Default select example">
                    <option value="">Carrera:</option>
                    @foreach (Carreras carrera in ViewBag.Carreras) 
                    {
                        <option class="opcion" value="@carrera.Id">@carrera.Nombre</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Registrar</button>
            </div>
        </form>
        <div class="imagen-registro">
            <img src="../img/estudio.jpg" alt="">   
        </div>

    </div>
</section>
