<section class="test-vocacional">

    <h2>Test Vocacional</h2>

    <section class="test">    
        <div class="preguntas">
            <h3>Seleccioná las actividades de tu interés</h3>
            
            <div class="opcion">
                <input type="checkbox" id="opcion1">
                <label for="opcion1">Organizar eventos o reuniones.</label>
            </div>
            
            <div class="opcion">
                <input type="checkbox" id="opcion2">
                <label for="opcion2">Diseñar o crear contenido visual (gráficos, imágenes, videos).</label>
            </div>
            
            <div class="opcion">
                <input type="checkbox" id="opcion3">
                <label for="opcion3">Programar o desarrollar aplicaciones y software.</label>
            </div>

            <div class="opcion">
                <input type="checkbox" id="opcion1">
                <label for="opcion1">Organizar eventos o reuniones.</label>
            </div>
            
            <div class="opcion">
                <input type="checkbox" id="opcion2">
                <label for="opcion2">Diseñar o crear contenido visual (gráficos, imágenes, videos).</label>
            </div>
            
            <div class="opcion">
                <input type="checkbox" id="opcion3">
                <label for="opcion3">Programar o desarrollar aplicaciones y software.</label>
            </div>
            
            <!-- Agrega más opciones aquí según tu base de datos -->
        </div>
        
        <div class="progreso">

            <button class="button boton-continuar">Continuar</button>
            <div class="paginacion">
                <span class="pagina-activa"></span>
                <span></span>
                <span></span>
                <p>1 / 3</p>
            </div>

        </div>

    </section>

</section>