html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


/* ---------------- LAYOUT --------------------------*/
.layout {
  font-family: Arial, sans-serif;
}

/*... ... . .NAV.. . . . . ..*/
.layout nav{
  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: 1px solid #ddd;
  margin: 0 auto; /* Centra el nav dentro de la pantalla */
  margin-left: -6.5%;
}


.layout ul{
  gap: 40px;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

header nav ul li:first-child img {
  height: 70px;
}

header nav ul li:first-child {
  margin-right: 2%; /* Ajuste para que el logo esté más cerca del grupo de navegación */
}
/* LOGO */


/* BUSCADOR */
.search-box {
  display: flex;
  align-items: center;
  border: 2px solid #000;
  border-radius: 20px;
  padding: 5px 10px;
  width: 300px;
}

.search-box input {
  border: none;
  outline: none;
  font-size: 16px;
  color: #5D88B3;
  width: 100%;
}

.search-box input::placeholder {
  color: #5D88B3;
  font-weight: bold;
}

.search-box svg {
  width: 20px;
  height: 20px;
  fill: #4a6fa5;
}

/* BOTONES: */
.button {
  background-color: #3C4B7A;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  border: 1px solid black;
  padding: 5px 0 5px 0;
  width: 10vw;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease; /* Transición para fondo y color */
}

.button:hover {

  background-color: #222b47;
}
header nav ul li:last-child img {
  border-radius: 50%;
  height: 50px;
  background-color: #ddd;
}


header nav ul li:last-child {
  margin-left: 5%; 
}

/*. . . . . . . FOOTOER . . . . . . .*/
footer {
  background-color: #2a3b69; /* Fondo azul oscuro */
  color: #ffffff; /* Texto blanco */
  padding: 20px 0;
  font-family:Arial, Helvetica, sans-serif;
}


.footer-container {
  display: flex;
  align-items: center;
  margin-left: 10%;
}

.logo-container{
  display: flex;
  justify-content: end;
  margin-right: 5%;
}
.logo-container img {
  width: 60%;

}

.vertical-line {
  border-left: 1px solid #ffffff; /* Línea vertical */
  height: 180px; /* Altura de la línea */
  margin-right:20px

}

.links-container {
  display: grid;
  grid-template-columns: repeat(3, auto); /* Tres columnas para cada .texto-footer */
  gap: 20px; /* Espacio entre columnas */
  align-items: start;

  width: 40%;
}

.texto-footer {
  margin-left: 40%;
  display: flex;
  gap: 65%;
  margin-bottom: 9%;
}

.texto-footer p {
  margin: 0;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
}

.texto-footer p:hover {
  text-decoration: underline;
}

.logos {
  margin-left: 40%;
  display: flex;
  gap: 20%;
  margin-top: 12%;
}

.logos img {
  width: 24px; /* Tamaño de los íconos de redes sociales */
  cursor: pointer;
}

.logos img:hover {
  opacity: 0.8; /* Efecto de opacidad al pasar el mouse */
}


footer pre{
  margin-left: 8%;
  margin-top: 7.5%;
}


/*-------------------------------- ----------------------------------------*/
/*-------------------------------- ----------------------------------------*/
/*-------------------------------- ----------------------------------------*/

/*--------------------------------    INDEX     ----------------------------------------*/
.index .fondo-index{
  position: relative;
  height: 80vh;
  background-image: url(../img/carrousel2.jpg);
  background-size:cover;
}

.index .search-box{
  position: absolute;
  left: 10%;
  top: 50%;
}